jupyterlab
ipywidgets
jupytext
nbformat
nbclient
matplotlib
numpy
scipy
networkx
imageio
brian2
brian2tools
nengo
nengo_extras
nengo_spa
pandas
seaborn
sympy
Pillow
scikit-image
requests
altair
vega_datasets
netgraph
